<?xml version="1.0" encoding="utf-8"?>
<!--
  NFR-13: в корпоративном контуре источником должен быть ТОЛЬКО внутренний Artifactory,
  а nuget.org удаляется из билда. В этом окружении artifactory.akbars.tech недоступен
  (DNS не резолвится), поэтому оставлен nuget.org. При переносе в контур:
    1. раскомментировать <add key="artifactory" .../>
    2. удалить <add key="nuget.org" .../>
-->
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- <add key="artifactory" value="https://artifactory.akbars.tech/artifactory/api/nuget/v3/nuget-virtual/index.json" /> -->
  </packageSources>
</configuration>
